# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\GithubProjects\GPM_bright_bands\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
.idea/
*.HDF5
